.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  background-color: rgb(248, 248, 248);
}

.pr-table {
  width: 100%;
}

.pr-table td, th {
  padding-bottom: 3px;
  padding-top: 3px;
}

.token-display {
  color: grey;
}

.token-input {
  color: grey;
  width: 330px;
}